<div class="form-group">
  <button type="submit" class="btn btn-default" (click)="buyTShirt()">T-Shirt (£10)</button>
  <button type="submit" class="btn btn-default" (click)="buyTrainers()">Trainers (£15)</button>
  <button type="submit" class="btn btn-default" (click)="buyJeans()">Jeans (£20)</button>
</div>
<!--div class="form-group" *ngIf="takePaymentResult">
  <p>Payment Result: {{takePaymentResult}}</p>
</div-->

<input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;">
<h2 *ngIf="paypalLoad">Paypal button is loading</h2>
<div id="paypal-checkout-btn"></div>



